.body{
    padding: 30px;
    .title{
        text-align:left;
        color: #fff;
        text-shadow: 0 0 20px #fff;
    }
    .horo{
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
    }
    .Icon{
        height: 18rem;
        width: 14rem;
        margin-left: 15px;
        -webkit-mask-image: linear-gradient(45deg,#ffffff 25%,rgba(255, 255, 255, 0.2) 50%,#ffffff 75%);
            mask-image: linear-gradient(45deg,#ffffff 25%,rgba(255, 255, 255, 0.2) 50%,#ffffff 75%);
            -webkit-mask-size: 800%;
            mask-size: 800%;
            -webkit-mask-position: 0;
            mask-position: 0;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .Icon:hover{
        transition: mask-position 2s ease,-webkit-mask-position 2s ease;
        -webkit-mask-position: 120%;
        mask-position: 120%;
        opacity: 1;
    }
      
}